@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
}
.gradient-btn {
  background: linear-gradient(90deg, #facc15, #fb923c, #ef4444);
  background-size: 200% 200%;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 90, 0, 0.5);
  transition: all 0.5s ease;
  animation: gradientFlow 4s ease infinite;
}

.gradient-btn:hover {
  background-position: right center;
  transform: scale(1.07);
  box-shadow: 0 0 25px rgba(255, 100, 0, 0.7);
}
.colorful-btn {
  transition: all 0.3s ease;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.colorful-btn:hover {
  background: linear-gradient(to right, #facc15, #fb923c, #ef4444);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.1);
  text-shadow: 0 0 15px rgba(255, 140, 0, 0.6);
}

/* Moving gradient animation */
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.gradient-baackground {
    background: linear-gradient(90deg, #facc15, #fb923c, #ef4444);
}